{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <h2>My Previous Code Reviews</h2>
    <p>Logged in as: {{ request.user }}</p>
    {% if reviews %}
    <ul>
        {% for review in reviews %}
            <li>{{ review.file_name }} - {{ review.review_feedback }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No reviews found.</p>
{% endif %}

    <div class="text-center mt-4">
        <a href="{% url 'dashboard' %}" class="btn btn-primary">Back to Dashboard</a>
    </div>
</div>
{% endblock %}
